body {
  /* background-color: #ffe6cc; */
  /* background-color: #f2f2f2; */
  background-color: #192733;
  margin: 0;
  padding: 0;
}

/* .container {
    height: auto;
    width: 30%;
    border: 1px solid gray;
    margin: 100px auto;
} */

.heading {
  margin-top: 15%;
  text-align: center;
  font-size: 40px;
}

.current-player {
  text-align: center;
  font-size: 25px;
}

/* .board {
    padding: 5px;
    border: 2px solid gray;
    border-radius: 8px;
    width: fit-content;
    margin: 50px auto;
} */

.row {
  display: flex;
  justify-content: center;
  background-color: rgb(65, 71, 69);
}

.box {
  background-color: #fff;
  border-radius: 8px;
  height: 100px;
  width: 100px;
  margin: 5px;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  cursor: pointer;
  transition: 1s;
  box-shadow: 0 0 5px 2px rgb(25, 0, 255);
}

.reset-button {
  display: block;
  margin: 20px auto;
  font-size: 1.3rem;
  background-color: aqua;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 8px;
}

.winner-message {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(3, 37, 3);
  /* margin-top: 20px; */
  /* background-color: aqua; */
  background-color: tomato;
  color: white;
  /* margin: 100px 200px; */
  padding: 10px;
  /* border: 1px solid palevioletred; */
  border-radius: 8px;
}

@media (max-width: 768px) {
  .container {
    height: auto;
    width: 94%;
    border: 1px solid white;
    border-radius: 4px;
    margin: 100px auto;
    background-color: white;
  }
  .board {
    padding: 5px;
    border: 2px solid gray;
    border-radius: 8px;
    width: fit-content;
    /* width: 50%; */
    margin: 50px auto;
  }
}

@media (max-width: 479px) {
  .container {
    margin: 30px auto;
  }

  .board {
    padding: 5px;
    border: 2px solid gray;
    border-radius: 8px;
    /* width: fit-content; */
    width: 90%;
    margin: 50px auto;
  }
}

@media (min-width: 769px) {
  .container {
    height: auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 4px;
    margin: 100px auto;
    background-color: white;
  }

  .board {
    padding: 5px;
    border: 2px solid gray;
    border-radius: 8px;
    width: fit-content;
    /* width: 50%; */
    margin: 50px auto;
  }
}
